<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myaidl">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activities.ScableImageViewActivity"></activity>
        <activity android:name=".activities.TouchViewActivity" />
        <activity android:name=".activities.CustomerLayoutActivity" />
        <activity android:name=".activities.CustomerViewActivity" />
        <activity android:name=".movie.MovieActivity" />
        <activity android:name=".login.LoginActivity" />
        <activity android:name=".base.BaseActivity" />
        <activity
            android:name=".activities.CoordinatLayout5Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.CoordinatLayout4Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.CoordinatLayout3Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.CoordinatLayout2Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.CoordinatLayout1Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activities.CoordinatLayoutDemoActivity"
            android:theme="@style/AppTheme.NoActionBar" /> <!-- 服务端提供给客户端的服务 -->
        <service
            android:name=".services.MyService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.example.myaidl.services.myService" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </service>

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>